<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevBurguer</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/devburger-icon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <img src="/images/logo.png" alt="DevBurguer Logo" class="logo"> 
            <h1>Bem-vindo à DevBurguer!</h1>
        </header>
        <main>
            <p>Entre em contato conosco através do formulário abaixo:</p>
            <form action="/contato" method="POST">
                <label for="nome">Nome: </label>
                <input type="text" name="nome">

                <label for="email">E-mail: </label>
                <input type="email" name="email">
                
                <label for="assunto">Assunto</label>
                <input type="text" name="assunto">

                <label for="mensagem">Mensagem: </label>
                <textarea name="mensagem" rows="4"></textarea>
                <button type="submit">Enviar sugestão!</button>
            </form>

            <p>Voltar para a página inicial</p>
            <a href="/">Início</a>
        </main>
        <footer>
            <p>&copy; 2025 DevBurguer. Todos os direitos reservados.</p>
        </footer>
    </body>